<div class="loading" *ngIf="!isPageReady">
</div>

<div class="" *ngIf="isPageReady">

  <nav id="navbar" class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a routerLink="/" class="navbar-item logo">
          <img src="/assets/svg/logo.png">
        </a>
        <div data-target="navMenu" class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">

          <a class="navbar-item has-text-custom" [routerLink]="localizedUrl(menu.url)" routerLinkActive="active" *ngFor="let menu of menus">
            {{menu.name}}
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link has-text-custom">
              <span class="icon is-small">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </a>

            <div class="navbar-dropdown is-right">
              <div class="navbar-item">
                <input id="search-box" class="input" type="text" placeholder="Terim" #query>
                <button class="button" (click)="search(query.value)">Ara</button>
              </div>
            </div>
          </div>

          <div class="navbar-item language-selector">
            <div class="tags">
              <span
                class="tag"
                (click)="changeLocale(language.slug)"
                [ngClass]="{'is-success': locale == language.slug}"
                *ngFor="let language of languages">
                  {{language.slug}}
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>
