<mat-spinner *ngIf="!menus || !languages || !locale" class="loading"></mat-spinner>

<div class="" *ngIf="menus && languages && locale">

  <div id="main-menu">
    <div class="container">

      <ul class="navigator">
        <li *ngFor="let one of menus; let i = index">
          <a [routerLink]="getLocale() + one.url" routerLinkActive="active"><button mat-button [matTooltip]="one.tooltip">{{one.name}}</button></a>
        </li>

        <li>
          <button mat-button [matMenuTriggerFor]="languageMenu" (click)="f.resetForm()">Ara</button>

          <mat-menu #languageMenu="matMenu">
              <form (ngSubmit)="search(f)" #f="ngForm" id="search-form">
                <mat-input-container>
                  <input matInput type="text" #searchBox id="search-box" (click)="$event.stopPropagation()" placeholder="Arama" name="search" autofocus required ngModel>
                </mat-input-container>

                <button mat-button type="submit" [disabled]="!f.valid">Ara</button>
              </form>

          </mat-menu>

        </li>
        <li>


        </li>
      </ul>

      <span (click)="changeLocale(one.slug)" [ngClass]="{'lang-active': locale == one.slug}" *ngFor="let one of languages">{{one.slug}}</span>

    </div>
  </div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>
