<md-spinner *ngIf="!menus || !languages" class="loading"></md-spinner>

<div class="" *ngIf="menus && languages">
  <md-toolbar id="main-menu">

    <a [routerLink]="getLocale() + one.url" routerLinkActive="active" *ngFor="let one of menus; let i = index"><button md-button [mdTooltip]="one.tooltip">{{one.name}}</button></a>

    <button md-button color="{{(getLocale() == one.slug) ? 'warn' : ''}}" *ngFor="let one of languages" (click)="setLocale(one.slug)">{{one.slug}}</button>

  </md-toolbar>

  <router-outlet></router-outlet>

</div>
