<mat-spinner *ngIf="!menus || !languages || !locale" class="loading"></mat-spinner>

<div class="" *ngIf="menus && languages && locale">

  <div id="main-menu">
    <div class="container">

      <ul class="navigator">
        <li *ngFor="let one of menus; let i = index">
          <a [routerLink]="getLocale() + one.url" routerLinkActive="active"><button mat-button [matTooltip]="one.tooltip">{{one.name}}</button></a>
        </li>
        <!--
        <li>
          <button mat-button [matMenuTriggerFor]="languageMenu">Diller</button>
          <mat-menu #languageMenu="matMenu">
            <button mat-menu-item (click)="changeLocale(one.slug)" [ngClass]="{'lang-active': locale == one.slug}" *ngFor="let one of languages">{{one.name}}</button>
          </mat-menu>
        </li>!-->
        <li>
          <mat-input-container>
            <input matInput type="text" #searchBox id="search-box" placeholder="Arama" name="search">
          </mat-input-container>
          <a [routerLink]="getLocale() + '/search'" [queryParams]="{ q: searchBox.value}">Ara</a>
        </li>
      </ul>

      <span (click)="changeLocale(one.slug)" [ngClass]="{'lang-active': locale == one.slug}" *ngFor="let one of languages">{{one.slug}}</span>

    </div>
  </div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>
