<div *ngIf="!isPageReady; then loadingTemplate else contentTemplate"></div>

<ng-template #loadingTemplate>
  <div class="">
    
  </div>
</ng-template>

<ng-template #contentTemplate>
  <section class="main" *ngFor="let section of sections">
    <div class="container">
      <div class="header">
        <h1 class="section-title title is-size-3 has-text-weight-light">{{section.name}}</h1>
      </div>
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column">
              <div class="columns is-multiline">
                <div class="column is-3 nth-column-{{i}}" *ngFor="let article of section.articles; let i = index">
                  <a [routerLink]="['/' + locale + '/article', article.slug]">
                    <div class="card">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img [src]="IMAGE_URL + article.image" alt="Placeholder image">
                        </figure>
                      </div>

                      <div class="card-content">
                        <div class="content">

                          <div class="header">
                              <h1 class="title has-text-weight-bold custom-is-size-6-5">{{article.content.title}}</h1>
                          </div>

                          <div class="text">
                            <p class="sub-title is-size-7">{{article.content.sub_title}}</p>
                          </div>

                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
