section.main
  .section-title
    margin: 1em 0
    padding: .3em 0
    border-bottom: 1px solid grey

  .nth-column-0
    width: 50%
    flex: none

  .card
    min-height: 350px

.custom-is-size-6-5
  font-size: .9rem !important
  line-height: 1.25
