@import themes/light/light.sass

h1, h2, h3, h4, h5, h6, p, span
  font-weight: 400

html

body

  margin: 0
  font-family: 'Open Sans', sans-serif
  background-color: $body-background-color
  //background-image: url('http://localhost:8000/image/image/img_59a27efcb694c')
  background-attachment: fixed
  background-size: cover
  background-position: center
  color: white//$body-color
a
  color: $menu-a-color
a:hover
  color: orange
  text-decoration: none

#main-menu
  a
    color: $menu-a-color
  md-toolbar-row
    justify-content: flex-end

.cs-container

.row
  margin: 0 !important

.loading
  position: absolute !important
  top: 40%
  left: 45%

/*Footer*/
.footer
  width: 100%
  display: block
