.row
  display: flex
  justify-content: center
  align-items: center

.article-card:hover
  transform: scale(1.01)

.back-image
  background-size: cover
.article-card
  width: 750px
  height: 250px
  margin: 1em 0
  transition: .2s transform

  .footer-content
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 15%
    p
      color: black

  .article-content
    z-index: 0
    width: 100%
    height: 85%
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-size: cover
    color: white

    h1
      position: absolute
      bottom: 20px
      right: 30px
      color: white

    img
      max-width: 100%
      max-height: 100%

.most-viewed-article
  .slider-item
    height: 400px
    position: relative
    border: 4px solid white
    .slider-over-layer
      position: absolute
      width: 100%
      height: 100%
      top: 0
      right: 0
      background: rgba(0, 0, 0, .75)
      opacity: 1
      z-index: 10
      //transition: opacity .3s
    span
      background-color: rgba(10, 10, 10, 0.55)
      position: absolute
      width: 100%
      bottom: 0
      right: 0
      padding: 1em
      color: white
      font-size: 25px
      z-index: 11
  .slider-item[aria-hidden="false"]
    .slider-over-layer
      opacity: 0

.main-sections
  margin: 2em 0
  height: 500px

  .main-alls
    width: 50%
    float: right
    height: 100%

    .main-all-ones:nth-child(2n + 1)
      float: left
      width: 50%
      height: 50%

    .main-all-ones:nth-child(2n)
      float: right
      width: 50%
      height: 50%
  .main-ones
    width: 50%
    float: left
    height: 100%


.main-section
  height: 500px

  .main-one
    width: 25%
    height: 50%
    float: right
    background: grey
    position: relative
    background-size: cover

    span.article-category
      z-index: 11
      background: black
      width: auto
      border-radius: 5px
      padding: 7px
      color: white
      text-transform: capitalize
      margin: 10px
      display: inline-block
      font-size: 12px

    .black-layer
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: rgba( 0, 0, 0, 0.3)
      z-index: 10
    h1
      position: absolute
      bottom: 0
      width: 100%
      padding: .4em
      font-size: 24px
      font-weight: 400
      margin: 0
      color: white
      z-index: 11
    h1::first-letter
      text-transform: capitalize
  .main-one:nth-child(2n+1):not(.main-one[key="0"])
    float: right


  .main-one:nth-child(2n)
    float: left

  .main-one[key="0"]
    width: 50%
    float: left
    height: 100%

    h1
      font-size: 34px !important
      font-weight: 500
      text-transform: uppercase

.main-article

  .article-card
    padding: 2em
    width: 75%
    margin: auto
    display: block
    margin-top: 2em
    margin-bottom: 2em
    height: auto

    h1
      text-transform: uppercase
      text-align: center
      padding: 20px 0
      margin: 0
    p.article-date
      text-align: center
      padding-bottom: 20px
      margin: 0
    p.article-sub-title
      padding: 0
      margin: 1em 0
      font-size: 15px
      font-weight: 400
      line-height: 1.8571428
    p.article-sub-title:first-letter
      float: left
      color: #fb5f84
      font-size: 55px
      line-height: 40px
      padding-top: 4px
      padding-right: 8px
      padding-left: 3px
      font-family: Georgia
      text-transform: uppercase
    .article-image
      background-size: cover
      width: 100%
      height: 320px
