<md-spinner *ngIf="!most_viewed_article || !latest_article || !categories || !latest_article_5" class="loading"></md-spinner>

<div *ngIf="most_viewed_article && latest_article && latest_article_5 && categories">

  <!--<div class="most-viewed-article">
    <div class="tiny-slider">
      <div class="slider-item back-image" #sliderRun *ngFor="let one of latest_article" [style.background-image]="'url(' + IMAGE_URL + one.image + ')'">
        <div class="slider-over-layer"></div>

        <a [routerLink]="['article', one.slug]" routerLinkActive="active" >

          <span>{{one.content.title}}</span>
        </a>
      </div>
    </div>
  </div>
!-->
  <div class="main-section">

    <div class="main-one" attr.key="{{i}}" [style.background-image]="'url(' + IMAGE_URL + one.image + ')'" *ngFor="let one of latest_article_5; let i = index">

      <div class="black-layer"></div>

      <span class="article-category">{{findCategory(one.categories[0].id).name}}</span>

      <a [routerLink]="['article', one.slug]">
        <h1>{{one.content.title}}</h1>
      </a>
    </div>

  </div>


  <div class="contanier">

    <div class="col-md-9 main-article">

      <div class="article-card" *ngFor="let one of latest_article_5; let i = index">

        <h1 class="article-title">{{one.content.title}}</h1>

        <p class="article-date">{{one.created_at.date}}</p>

        <div class="article-image" [style.background-image]="'url(' + IMAGE_URL + one.image + ')'"></div>

        <p class="article-sub-title">{{one.content.sub_title}}</p>
        <a [routerLink]="['article', one.slug]">
          <button md-button>Okumaya Devam ...</button>
        </a>
      </div>

    </div >

    <div class="col-md-3 right-side">

      <div class="popular-posts">

        <div class="header"><h1>Popular Posts</h1></div>

        <div class="content">
          <ul>
            <li class="popular-most-viewed" *ngFor="let one of most_viewed_article">
              <div class="popular-item">
                <div class="item-thumbnail" [style.background-image]="'url(' + THUMB_URL + one.image + ')'"></div>

                <a [routerLink]="['article', one.slug]">
                  <span>{{one.content.title}}</span>
                </a>

                <div class="row"></div>

              </div>
            </li>
          </ul>
        </div>

      </div>

      <div class="">

        <div class="header"><h1>Category</h1></div>

        <div class="content">
          <div class="" *ngFor="let one of categories; let i = index">
            {{one.name}}
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
