.main-section
  height: 500px

  .main-one
    width: 25%
    height: 50%
    float: right
    position: relative
    padding: .1em

  .content
    width: 100%
    height: 100%
    background-size: cover
    position: relative

    .image
      position: absolute
      width: 100%
      height: 100%
      background-position: center
      background-size: cover
      background-repeat: no-repeat

    span.article-category
      z-index: 11
      width: auto
      border-radius: 2px
      padding: 7px
      color: white
      text-transform: capitalize
      margin: 10px
      display: inline-block
      font-size: 12px
      position: relative
      border: 1px solid white

    .black-layer
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: rgba( 0, 0, 0, 0.1)
      z-index: 10

    h1
      position: absolute
      bottom: 0
      width: 100%
      padding: .4em
      font-size: 24px
      font-weight: 400
      margin: 0
      color: white
      z-index: 11

    h1::first-letter
      text-transform: capitalize

  .main-one:nth-child(2n+1):not(.main-one[key="0"])
    float: right

  .main-one:nth-child(2n)
    float: left

  .main-one:first-child
    width: 50%
    float: left
    height: 100%

    h1
      font-size: 34px !important
      text-transform: capitalize

.article-card
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 500px
  padding: 1em

  .article
    height: 100%
    width: 75%
    margin: 1em 0
    padding: 1em
    overflow: hidden
    color: white

    .black-layer
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: rgba( 0, 0, 0, 0.15)
      z-index: 0

    .article-title
      text-align: center
      padding: 20px 0
      margin: 0
      font-family: Raleway,sans-serif
      color: white
      position: absolute
      width: 100%
      left: 0
      top: 5%

      h1
        font-size: 30px
        line-height: 30px
        text-transform: uppercase

      p
        font-size: 12px

    .article-content
      position: absolute
      bottom: 0
      left: 0
      padding: 1em
      width: 100%
      height: auto
      background: rgba(0, 0, 0, .25)

      .article-read-more
        color: #3273dc

    .article-image
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-size: cover
      background-position: center
      background-repeat: no-repeat
